*{
  margin:0;
}

body {
  margin: 0;
  background: #F9F9F9;
  font-family: "Oswald", sans-serif;
}
/*LOADER*/
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:2299; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/*NAVBAR*/
nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
nav.navbar.showNav {
  background-color: black;
  border-radius: 2px;
}
nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background;
}
nav a:hover{
  background:rgba(0,0,0,0.9);
}

/*BODY*/
video {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-size: 100% 100%;
  transition: 1s opacity;
}
.blackout{
  background: black;
  padding-left: 4px;
  padding-bottom: 3px;
  margin: 4px;
}
#michael {
  font-family: "Average Sans", sans-serif;
  font-weight: 100;
  /*background: rgba(0,0,0,0.3);*/
  color: white;
  padding: 2rem;
  width: 287px;
  margin-top: -300px;
  margin-left: 20px;
  float: left;
  position: absolute;
  z-index: 100;
  font-size: 1.5rem;
}
section{
  text-align: center;
  margin: 30px;
  padding-top: 60px;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.selfportrait{
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}
.jsonClass{
  color: #1B8FD9;
  padding-left: 15px;
}
.jsonArrObj{
  padding-left: 30px;
  margin:0;
}
p.jsonClass, p.jsonIndent{
  margin:0;
  padding-left: 45px;
}
span.jsonValue{
  color: #838383;
}
.jsonClose{
  padding-left: 15px;
  margin:0;
}
.verticaltext {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
  text-align:left;
  left: 35%;
	bottom: 40%;
	position: absolute;
}
#contacts, #about{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#portfolio{
  margin:0;
  background-image: url(../images/maphd.jpg);
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 100px;
}
#contact{
  display:flex;
}
.cont-col{
  flex:1;
}

.centerized{
  display:flex;
  justify-content: center;
}
/*Contact page*/
.contactmepage{
  margin:0;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.blackme{
  background-color: black;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
/*Contact Form layout*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}


#gform input[type="text"], #gform input[type="email"], #gform input[type="tel"], #gform input[type="url"], #gform textarea, #gform button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#gform {
	/*background:#F9F9F9;*/
	padding:25px;
	margin:45px 0;
}

#gform h3 {
	color: #fff;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#gform h4 {
  color: #4B4B4B;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#gform input[type="text"], #gform input[type="email"], #gform textarea {
	width:100%;
	border:1px solid #CCC;
	background:#000;
  color: #B2B2B2;
	margin:0 0 5px;
	padding:10px;
}

#gform input[type="text"]:hover, #gform input[type="email"]:hover, #gform textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#gform textarea {
	height:200px;
	max-width:100%;
  resize:none;
}

#gform button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#357BB8;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#gform button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#gform button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#gform input:focus, #gform textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#connectform{
  text-align: right;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 280px;
  z-index: ;
  margin-right: -100px;
  margin-top: -660px;
  float: right;
  position: absolute;
}
#connectform h3{
  color: black;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
.whiteme{
  height: 700px;
  width: 100%;
  overflow:hidden;
  color:#fff;
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}
.thankyou{
  height:100%;
  width:100%;
  background-size: 100% 100%;
  color: #fff;
  background-color: black;
  padding: 8px;
  overflow: hidden;
}
.contactimg{
  height: 100%;
  width: 100%;
  color:#fff;
  z-index:-1000;
  /*background-size: 100% 100% ;*/
  background-repeat: no-repeat;
}


/*ICONs on Icons*/
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.github span {
	background-color: #181717;
}
.linkedin span {
	background-color: #0077B5;
}
.instagram span {
	background-color: #E4405F;
}
.yelp span {
	background-color: #C41200;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-github {
	color: #181717;
}
.icon-button .fa-linkedin {
	color: #0077B5;
}
.icon-button .fa-instagram {
	color: #E4405F;
}
.icon-button .fa-yelp {
	color: #C41200;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-github,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-yelp {
	color: white;
}







/*Vertical Sliding*/
.words{
    display: inline;
    text-indent: 10px;
}
.slidingVertical span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #fff;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -moz-animation: rotateWord 18s linear infinite 0s;
    -o-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.slidingVertical span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #fff;
}
.slidingVertical span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #fff;
}
.slidingVertical span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #fff;
}
.slidingVertical span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #fff;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
    5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
    20% { opacity: 0; -moz-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
    5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
    20% { opacity: 0; -o-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
    20% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}


/*less than 970, switch to mobile mode*/
@media all and (max-width: 2400px) {

     .desktop{display:block;}
     .mobile{display:none;}

}

@media all and (max-width: 767px) {
  .desktop{display:none;}
  .mobile{
    display:block;
    font-family: helvetica, sans-serif;
  }
  video{
    background-size: 100% 100%;
  }
  #michael {
    font-family: "Average Sans", sans-serif;
    font-weight: 100;
    color: white;
    padding: 2rem;
    width: 170px;
    margin-top: -190px;
    margin-left: 20px;
    float: left;
    position: absolute;
    z-index: 1000;
    font-size: 1.5rem;
  }
  .aboutme{
    margin:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .txt{
    text-align: center;
  }
  .projects{
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
  }
  img{
    height: 100px;
    width: 200px;
  }
  .contact{
    margin:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
  }
  .projblurb{
    font-size: 8px;
  }
  .whiteme{
    height: 500px;
    width:auto;
    overflow:hidden;
    background-image: url(../images/contactme.jpg);
    z-index:-1000;
  }
  #letsconnect{
    text-align: right;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 200px;
    z-index: 1000;
    margin-right: -80px;
    margin-top: -20px;
    float: right;
    position: absolute;
  }
  #letsconnect h4{
    color: black;
  }
  #letsconnect p{
    color: black;
    font-size: 8px;
  }

}
