body{
  background: #EBEBEB;
  height: 100%;
}

h1{
  font-family: "Rock Salt", sans-serif;
  text-align: left;
  width: 50%;
  font-size: 30px;
}

nav{
  display:flex;
  justify-content: space-around;
  font-family: "Indie Flower", sans-serif;
}

header a{
  color: #000;
  padding: 8px 16px;
  font-size: 20px;
}

header a:hover{
  background-color: #555;
  color: white;
}

h2{
  font-family: "Indie Flower", sans-serif;
  text-align: left;
  background-color: #E6F6FF;
}

footer{
  display:flex;
  justify-content: space-around;
  text-align: center;
  position:fixed;
  height: 30;
  left:0;
  bottom:15px;
  width:50%;
}

footer img{
  width: 20px;
  height: 20px;
}

#selfPortrait{
  width: 13%;
  height: 13%;
}
#shortline{
  width:50%;
}
#medline{
  width:70%;
}
#longline{
  width:90%;
}
.section-content{
  text-align: left;
}
